* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.full{
    height: 100%;
    width: 0%;
    animation-name: hidscroll;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 3.5s;
    transition: all ease-in-out;
}

@keyframes hidscroll {
    to{
        width: 100%;
    }
}

::selection {
    color: royalblue;
    background-color: hotpink;
}

.splash-background {
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

#ball {
    -webkit-animation: zoom 2s 1.8s,
        slide .5s 0s ease-in,
        bounce .9s 0.5s linear;
    animation: zoom 2s 1.8s,
        slide .5s 0s ease-in,
        bounce .9s 0.5s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #000000;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: -100px auto;
    z-index: 10;
    transition: all ease;
}

@-webkit-keyframes slide {
    to {
        margin: 250px auto;
    }
}

@keyframes slide {
    to {
        margin: 250px auto;
    }
}

@-webkit-keyframes bounce {
    to {
        margin: 250px auto;
    }

    25% {
        margin: 170px auto;
    }

    50% {
        margin: 250px auto;
    }

    75% {
        margin: 235px auto;
    }

    100% {
        margin: 250px auto;
    }
}

@keyframes bounce {
    0% {
        margin: 250px auto;
    }

    25% {
        margin: 170px auto;
    }

    50% {
        margin: 250px auto;
    }

    75% {
        margin: 235px auto;
    }

    100% {
        margin: 250px auto;
    }
}

@-webkit-keyframes zoom {
    to {
        -webkit-transform: scale(40);
        transform: scale(40)
    }
}

@keyframes zoom {
    to {
        -webkit-transform: scale(50);
        transform: scale(40)
    }
}

.main {
    position: relative;
    left: 12%;
    height: 100vh;
    width: 75%;
    /* background-color: rgb(255, 145, 0); */
    animation-name: hid;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-name: fadein;
    animation-duration: 4s;
    animation-delay: 3.5s;
    transition: all 4s ease;
    z-index: 0;
    opacity: 0;
}

@keyframes hid {
    to {
        opacity: 1;
    }
}

header {
    position: relative;
    display: flex;
    /* background-color: brown; */
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: calc(100% + 30px);
}

.nav2 i {
    display: none;
    font-size: 3.7vh;
}

.nav1 {
    /* background-color: rgb(255, 0, 0); */
    margin-top: 8px;
    margin-left: 14px;
}

.nav1 h1 {
    font-weight: 700;
}

.nav2 {
    position: absolute;
    display: flex;
    /* align-items: center; */
    /* background-color: blue; */
    left: 69%;
    width: 21vw;
}

.nav2 ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 8px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    transition: all linear;
}

.nav2 li:hover {
    -webkit-transform: scale(1.11);
    transform: scale(1.11);
    transition: .3s
}

#linkedin {
    height: 2rem;
    width: 2rem;
}

#linkedin:hover {
    scale: 1.1;
}

#github {
    height: 2rem;
    width: 2rem;
}

#github:hover {
    scale: 1.1;
}

#resume{
    font-size: 0.92rem;
}

.main2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76vh;
    /* background-color: blue; */
}

#miss_reyna {
    width: 90%;
    margin-left: 10%;
    object-fit: cover;
}

.main_img {
    position: relative;
    /* background-color: blanchedalmond; */
    width: 65%;
    scale: 0.95;
    margin-top: 30px;
}

.main_text {
    /* background-color: rgb(136, 34, 3); */
    margin-top: 60px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vw;
}

.main_text h1 {
    font-size: 6.6vw;
    width: 100%;
}

.main_text h2 {
    margin-top: vh;
    font-size: 1.6vw;
    font-weight: 300;
    letter-spacing: 0px;
    border-right: 1px solid;
    /* font-family: monospace; */
    width: 28.5vw;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(36),
        cursor .5s step-end infinite alternate;
    animation-delay: 3s;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#lgbtq {
    animation-name: lgtv;
    animation-iteration-count: infinite;
    color: fuchsia;
    animation-delay: 1s;
    animation-duration: 10s;
}

@keyframes lgtv {
    0% {
        color: fuchsia;
    }

    25% {
        color: rgb(255, 151, 215);
    }

    50% {
        color: rgb(247, 74, 74);
    }

    75% {
        color: rgb(109, 12, 177);
    }

    100% {
        color: fuchsia;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.projection {
    margin-top: 20px;
    height: 10vh;
    /* background-color: rgb(255, 0, 230); */
}

#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.projection #arrow:hover{
    filter: invert(47%) sepia(78%) saturate(5630%) hue-rotate(315deg) brightness(101%) contrast(92%);
    scale: 1.1;
    cursor: pointer;
}

#arrow img {
    height: 10px;
    width: 18px;
}

.projection h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar {
    width: 8px;
    /* height: 12px; */
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(skyblue, rgb(22, 22, 144), rgb(234, 66, 208));
    border-radius: 20px;
}

.forSB {
    height: 16vh;
    width: 100%;
}

@media (max-width:991px) {

    header{
        width: 100%;
    }

    img {
        zoom: 90%;
    }

    .main_img img{
        scale: 1.2;
    }

    .main_text{
        gap: 7vw;
    }

    .main_text h1{
        font-size: 6vw;
    }

    .main_text h2{
        font-size: 1.8vw;
        max-width: 32vw;
    }
    
    header .nav2{
        left: 50vw;
    }

    header .nav2 ul{
        gap: 4vw;
    }

    .main_text h2{
        width: 100%;
    }

    #resume{
        font-size: 0.85rem;
    }
}

@media (width < 600px) {
    .main_text h1{
        font-size: 6vw;
    }

    /* header .nav2 ul{
        gap: ;
    } */

    .main_text h2{
        font-size: 2vw;
        min-width: 36vw;
    }

    .nav2 a {
        display: none;
    }

    .nav2 i {
        position: absolute;
        display: block;
        right: -25%;
    }

    .nav2 i:hover{
        filter: invert(47%) sepia(78%) saturate(5630%) hue-rotate(315deg) brightness(101%) contrast(92%)
    }

    .nav1 {
        margin-top: 8px;
        margin-left: 0px;
    }
}

/* @media (width < px) {

    a {
        display: none;
    }

    img {
        zoom: 80%;
    }

    .nav2 i {
        position: absolute;
        display: block;
        right: -30%;
    }
} */