* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.full{
    height: 100%;
    width: 100%;
    overflow-x: visible;
    animation-name: hidscroll;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

@keyframes hidscroll {
    to{
        overflow-x: visible;
    }
}

::selection {
    color: royalblue;
    background-color: hotpink;
}

.splash-background {
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

#ball {
    -webkit-animation: zoom 1s 1.8s,
        slide .5s 0s ease-in,
        bounce .9s 0.5s ease-in;
    animation: zoom 1s 1.8s,
        slide .5s 0s ease-in,
        bounce .9s 0.5s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #000000;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: -100px auto;
    z-index: 10;
    transition: all ease-in;
}

@-webkit-keyframes slide {
    to {
        margin: 250px auto;
    }
}

@keyframes slide {
    to {
        margin: 250px auto;
    }
}

@-webkit-keyframes bounce {
    to {
        margin: 250px auto;
    }

    25% {
        margin: 170px auto;
    }

    50% {
        margin: 250px auto;
    }

    75% {
        margin: 235px auto;
    }

    100% {
        margin: 250px auto;
    }
}

@keyframes bounce {
    0% {
        margin: 250px auto;
    }

    25% {
        margin: 170px auto;
    }

    50% {
        margin: 250px auto;
    }

    75% {
        margin: 235px auto;
    }

    100% {
        margin: 250px auto;
    }
}

@-webkit-keyframes zoom {
    to {
        -webkit-transform: scale(20);
        transform: scale(20)
    }
}

@keyframes zoom {
    to {
        -webkit-transform: scale(20);
        transform: scale(20)
    }
}

.main {
    position: relative;
    left: 12%;
    height: 100vh;
    width: 75%;
    /* background-color: rgb(255, 145, 0); */
    animation-name: hid;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-name: fadein;
    animation-duration: 4s;
    animation-delay: 3s;
    transition: all 4s ease;
    z-index: 0;
    opacity: 0;
}

@keyframes hid {
    to {
        opacity: 1;
    }
}

header {
    display: flex;
    /* background-color: brown; */
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.nav2 i {
    display: none;
    font-size: 3.7vh;
}

.nav1 {
    /* background-color: rgb(255, 0, 0); */
    margin-top: 8px;
    margin-left: 14px;
}

.nav1 h1 {
    font-weight: 700;
}

.nav2 {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    margin-right: end;
    width: 21vw;
}

.nav2 ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 8px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: hotpink;
}

#linkedin {
    height: 2rem;
    width: 2rem;
}

#linkedin:hover {
    scale: 1.1;
}

#github {
    height: 2rem;
    width: 2rem;
}

#github:hover {
    scale: 1.1;
}

.main2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76vh;
    /* background-color: blue; */
}

#miss_reyna {
    width: 24vmax;
    height: 75vmin;
    margin-left: 10%
}

.main_img {
    position: relative;
    object-fit: cover;
    /* background-color: blanchedalmond; */
    width: 65%;
    margin-top: 30px;
    z-index: -10;
}

.main_text {
    /* background-color: rgb(136, 34, 3); */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 90px;
}

.main_text h1 {
    font-size: 6.6vw;
}

.main_text h2 {
    font-weight: 300;
    letter-spacing: 0px;
    border-right: 1px solid;
    /* font-family: monospace; */
    width: 59%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(36),
        cursor .5s step-end infinite alternate;
    animation-delay: 3s;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#lgbtq {
    animation-name: lgtv;
    animation-iteration-count: infinite;
    color: fuchsia;
    animation-delay: 1s;
    animation-duration: 10s;
}

@keyframes lgtv {
    0% {
        color: fuchsia;
    }

    25% {
        color: rgb(255, 151, 215);
    }

    50% {
        color: rgb(247, 74, 74);
    }

    75% {
        color: rgb(109, 12, 177);
    }

    100% {
        color: fuchsia;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.projection {
    margin-top: 30px;
    height: 13vh;
    /* background-color: rgb(255, 0, 230); */
}

#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

#arrow img {
    height: 10px;
    width: 18px;
}

.projection h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --code-color: darkred;
    --code-bg-color: #aaaaaa;
    --code-font-size: 14px;
    --code-line-height: 1.4;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(skyblue, rgb(22, 22, 144), rgb(234, 66, 208));
    border-radius: 20px;
}

.mainpage {
    height: 10vh;
    width: 100%;
}

@media (max-width:880px) {
    a {
        display: none;
    }

    img {
        zoom: 80%;
    }

    .nav2 i {
        position: absolute;
        display: block;
        left: 92%;
    }

}